.App {
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

tr:hover {
    background-color: darkviolet !important;
    color: white
}

table td {
    text-align: center;
}

.selected {
    background-color: rgba(148, 0, 211, 0.24);
    color: white

}

table {
    border-spacing: 0;
}

table tbody {
    cursor: cell;
    user-select: none;
}

.popup {
    background-color: white;
    border: 1px solid blueviolet;
    border-radius: 8px;
    padding: 10px;
}

.popup label {
    margin: 5px;
}

.btn {
    background-color: #72d137;
    border: 2px solid #72d137;
    border-radius: 8px;
    margin: 5px 0 5px 10px;
    padding: 4px 8px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px cadetblue;
}


.btnPrimary {
    color: white;
    background-color: darkviolet;
    border: 2px solid darkviolet;
}

.tree {
    cursor: cell;
    user-select: none;
    padding: 0 10px;
    overflow-y: auto;
    height: 100%;
}

.tree div {
    padding: 5px;
}
.tree div:hover {
    background-color: darkviolet !important;
    color: white;
}